@import url('https://fonts.googleapis.com/css?family=Raleway');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.form {
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #555;
    padding: 16px;
}

.form legend, .form .result {
    padding: 10px;
    font-weight: bold;
}

.form fieldset {
    border: 0;
    position: relative;
    padding: 0;
    margin-top: 1em;
    width: 100%;
}

.form .input {
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #777;
    outline: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.form label {
    padding: 10px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
    width: 100%;
}

.form .input:valid ~ label, .form .input:focus ~ label {
    font-size: 0.6em;
    bottom: 100%;
    color: #008FEC;
    font-weight: bold;
    padding-left: 0;
    padding-bottom: 0;
}

.form .button {
    padding: 10px;
    background: white;
    border: 1px solid steelblue;
    font-weight: bold;
}

.form .textmsg {
    font-size: 0.8rem;
    margin: 10px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px;
    background: #ccc;
}

nav p {
    margin: 0;
}